* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 50%;
    margin: 10px auto;
}
h1 {
    margin: 20px 0px;
}

form {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    body {
        width: 90%;
    }
}
